<div class="gridFullWidth">
	<h1>Jacob Dingus</h1>
	<ul id="leftNav" class="pushOneColumn gridThreeColumns floatLeft">
		<li class="navigationTitle">Links</li>
		<li><a href="https://github.com/">github</a></li>
		<li><a href="https://www.heroku.com/">heroku</a></li>
		<li><a href="https://dnsimple.com/">DNSimple</a></li>
		<li><a href="https://github.com/">github</a></li>
		<li><a href="http://www.w3schools.com">w3schools</a></li>
		<li><a href="http://www.baconIpsum.com">bacon Ipsum</a></li>
		<li><a href="http://plus.google.com">Google+</a></li>
		<li><a href="http://cukes.info">Cucumber</a></li>
		<li><a href="http://www.sonarsource.org/">Sonar</a></li>

	</ul>
	<div id="mainContent" class="pushOneColumn gridSixteenColumns">
		<p>As you can see, I'm increasing my skills with CSS, HTML, eventually JavaScript Etc.</p>
		<p>Shankle pastrami shank tongue, sausage brisket ball tip drumstick.  Ball tip fatback strip steak short ribs.  Pastrami spare ribs short ribs chicken strip steak boudin.  Jowl andouille boudin salami pastrami.  Meatball ham hock strip steak hamburger t-bone ribeye, turkey pork chop tail bacon boudin shoulder.  Swine fatback pancetta ham hock pork loin bacon, tail brisket sirloin tri-tip.  Swine pork loin t-bone beef, ham pig pork chop bacon andouille fatback biltong tenderloin spare ribs bresaola.</p><p>Meatball beef ribs t-bone, venison jowl shoulder strip steak brisket tongue.  Rump pork belly chicken, beef boudin ham hock brisket pancetta beef ribs flank.  Pork loin brisket sirloin bresaola tail.  Ham shoulder flank, chuck brisket spare ribs salami.  Hamburger drumstick andouille pastrami, tongue shankle short loin chuck swine.  Boudin chicken shoulder spare ribs pork.  Corned beef hamburger short loin, ham hock drumstick pork belly meatball bresaola ribeye meatloaf.</p><p>Cow tongue ribeye pork chop pork belly, pancetta t-bone tenderloin drumstick beef ribs bacon biltong ball tip corned beef tail.  Flank meatball turkey, drumstick pork chop bacon spare ribs fatback pork loin beef corned beef shank boudin tenderloin salami.  Ground round pig pork belly, chuck chicken ham turkey cow rump flank tri-tip venison beef ribs fatback swine.  Pork loin strip steak salami, ball tip pastrami ham jowl.  Ham tri-tip cow pork salami drumstick, shoulder shank beef short ribs fatback andouille meatloaf strip steak sirloin.  Meatloaf turkey spare ribs, bresaola chuck ground round boudin flank chicken t-bone sausage pork chop corned beef.  Cow venison flank tri-tip.</p><p>Meatloaf rump chicken, meatball tenderloin spare ribs jowl strip steak short ribs brisket.  Pig t-bone pork chop cow, pork belly chicken boudin drumstick pancetta pork loin sirloin.  Boudin pork loin tail pancetta.  Ham sirloin shoulder, ground round beef tenderloin spare ribs shankle sausage meatloaf.  Shankle ham hock jowl, short loin salami beef ribs flank corned beef andouille.  Flank pork belly bresaola swine, drumstick ribeye pastrami.  Salami drumstick turkey tongue pig spare ribs.</p><p>Strip steak ball tip bacon pork, andouille pastrami meatloaf spare ribs jerky ground round pig sirloin cow pork belly short loin.  Tri-tip pork belly chicken, tenderloin jowl ground round swine pork short ribs pastrami hamburger short loin beef t-bone flank.  Chicken rump biltong flank boudin.  Tenderloin tri-tip ribeye, spare ribs swine corned beef ground round sirloin ball tip.  Rump jowl tenderloin venison, pancetta spare ribs chicken pork chop short loin.  Andouille ham hock ball tip beef ribs corned beef.  Short ribs ground round fatback, beef ribs jowl ribeye chicken bacon pancetta venison.</p>
	</div>

	<div class="clearFloat"></div>
	<div id="footer" class="floatRight gridTwoColumns">&copy; 2011</div>
</div>
