<div id="mainContent" class="container">
  <div class="page-header">
      <h1>Webume</h1>
  </div> 
  <div id="webumeDetails" class="">
    <h3 id="contactInfo">Reach Out</h3>
    
    <h3 id="statement">Statement</h3>
    <p class="">I'm a passionate Iteration Manager who enjoys enabling my team to create quality solutions to complex problems</p>
    
    <h3 id="skills">Skills</h3>
    
    <h3 id="languages">Programming Languages Known</h3>
    <div id="languageList">
      <ul>
        <li class="boldText noListStyle">Fluent</li>
        <li>COBOL Mainframe</li>
        <li>ColdFusion</li>
        <li>Java</li>
        <br />
        <li class="boldText noListStyle">Learning</li>
        <li>Ruby</li>
        <li>Rails</li>
        <br />
        <li class="boldText noListStyle">For the Future</li>
        <li>Groovy</li>
        <li>Grails</li>
        <li>Python</li>
        <li>Clojure</li>
        <li>Scala</li>
        <li>Have Suggestions? Please contact me and let me know</li>
      </ul>
    </div>
    
    <h3 id="experience" class="">Work Experience</h3>
      <ul id="workExperience">
      </ul>
  </div>
</div>
    
