<h1>Jacob Dingus</h1>
<ul id="leftNav" class="pushOneColumn gridThreeColumns floatLeft">
	<li class="navigationTitle">Links</li>
	<li><a href="https://github.com/">github</a></li>
	<li><a href="https://www.heroku.com/">heroku</a></li>
	<li><a href="https://dnsimple.com/">DNSimple</a></li>
	<li><a href="https://github.com/">github</a></li>
	<li><a href="http://www.w3schools.com">w3schools</a></li>
	<li><a href="http://www.baconIpsum.com">bacon Ipsum</a></li>
	<li><a href="http://plus.google.com">Google+</a></li>
	<li><a href="http://cukes.info">Cucumber</a></li>
	<li><a href="http://www.sonarsource.org/">Sonar</a></li>
	<li> <%=link_to "Webume", mainsite_webume_path %> </li>
</ul>

<div id="mainContent" class="pushOneColumn gridSixteenColumns">
	<p>Typical "under construction" message</p>
</div>