<div>
  <h1> Useful Links </h1>

  <ul id="navigationLinks" class="pushOneColumn gridTwentyThreeColumns floatLeft">
      <li id="home" class="floatLeft"> <%=link_to "Home", mainsite_index_path %> </li>
      <li id="webume" class="floatLeft"> <%=link_to "Webume", mainsite_webume_path %> </li>
      <li id="usefulLinks" class="floatRight"> <%=link_to "Useful Links", mainsite_useful_links_path %> </li>
  </ul>
  <div class="clearFloat"></div>
  <ul id="linksList" class="pushOneColumn gridSixteenColumns floatLeft">  
    <li><a href="https://github.com/">github</a></li>
    <li><a href="https://www.heroku.com/">heroku</a></li>
    <li><a href="https://dnsimple.com/">DNSimple</a></li>
    <li><a href="https://github.com/">github</a></li>
    <li><a href="http://www.w3schools.com">w3schools</a></li>
    <li><a href="http://www.baconIpsum.com">bacon Ipsum</a></li>
    <li><a href="http://plus.google.com">Google+</a></li>
    <li><a href="http://cukes.info">Cucumber</a></li>
    <li><a href="http://www.sonarsource.org/">Sonar</a></li>
  </ul>
</div>