<div>
	<h1> Webume </h1>
	<ul id="leftNav" class="pushOneColumn gridThreeColumns floatLeft">
		<li><%= link_to "Home", mainsite_index_path %></li>
	</ul>
	<div id="mainContent" class="pushOneColumn gridSixteenColumns">
		<p>Typical "under construction" message</p>

		<div id="webumeDetails">
			<h3><%= link_to "Contact For Additional Info", new_contact_email_path %></h3>
			<h3>Statement</h3>
			<h3>Skills</h3>
			<h3>Languages Known</h3>
			<h3>Work Experience</h3>
		</div>
	</div>
</div>