<div>
	<h1> Webume </h1>
	<ul id="leftNav" class="pushOneColumn gridThreeColumns floatLeft">
		<li><%= link_to "Home", mainsite_index_path %></li>
	</ul>
	<div id="mainContent" class="pushOneColumn gridSixteenColumns">
		<p>Typical "under contstruction" message</p>
	</div>
</div>