<div>
	<h1> Webume </h1>
	<ul id="navigationLinks" class="pushOneColumn gridTwentyThreeColumns floatLeft">
	  <li id="home" class="floatLeft"> <%=link_to "Home", mainsite_index_path %> </li>
	  <li id="webume" class="floatLeft"> <%=link_to "Webume", mainsite_webume_path %> </li>
	  <li id="usefulLinks" class="floatRight"> <%=link_to "Useful Links", mainsite_useful_links_path %> </li>
	</ul>
	<div id="mainContent" class="pushOneColumn gridSixteenColumns">
		<div id="webumeDetails">
			<h3><%= link_to "Contact For Additional Info", new_contact_email_path %></h3>
			<h3>Statement</h3>
			<h3>Skills</h3>
			<h3>Languages Known</h3>
			<h3>Work Experience</h3>
		</div>
	</div>
</div>