/* LeftNav Bar */
.navigationTitle{
    font-weight: 700;
}

#navigationLinks li{
  list-style-type: none;
  display: inline;
  width: 120px;
  margin-bottom: 20px;
}

#linksList li{
  list-style-type: none;
  width: 120px;
}